<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
{% include 'account/alert.html' %}
<body>
    <div class="container mt-5">
        <h2>SIGNUP</h2>
        <form method="post">
            {% csrf_token %}
            <!-- <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" name="lastname" required>
            </div> -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
        </form>
        <p>Already a globabrain member? <a href="{% url 'signin' %}">login here</a></p>
    </div>
    
</body>
<style>
    h2{
        text-align: center;
        text-emphasis: 50px;
    }
    p{
        color: gray;
    }
</style>

{% endblock content %}