{% extends 'base.html' %}
{% block content %}
<section id="features" >
    <div  class="wrapper">
        <h1>News</h1> <br>
        <p>Contemporary technological and developmental news
            Submit news item to XXX (upload)</p> <br>
    </div>
    <div class="wrapper" >
        <h2>Editorial board.</h2> <br>
        <p> <b>Apply to be an editorial board member. </b> <br>
        send an email to <a href="mailto:admin@globabrain.com ">admin@globabrain.com</a> and on the subject line, state " membership of editorial board" or "Reviewer" .
        <br>
        If you are interested in serving as one of our Editor-in-Chief or any position. <br>
    
        <b>Apply to propose a special issue</b> <br>
        Send an email to <a href="mailto:admin@globabrain.com ">admin@globabrain.com</a> and on the subject line, state "Issue proposal" . </p>
    </div>
    
    
    
    <div class="wrapper" >
        <h1>Donate logistics to support the poor and needy</h1> <br>
        <p>
            <b>1. Support education</b> <br>
            (a) Laboratory Equipment <br>
            (b) Food aid <br>
            (c) Books, shoes, and other logistics <br>
            (d) Financial support: To help with transporting logistics to remote locations <br>
    
        </p>
        <p>
            <b>2. Health</b> <br>
            (a) Hospital beds <br>
            (b) General hospital equipment <br>
            (c)Financial support: To help with transporting logistics to remote locations <br>
            for more details contact our support team <a href="mailto:support@globabrain.com ">support@globabrain.com</a>
        </p>
    
    </div>

</section>



{% endblock content %}