{% load static %}
<header>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'styles/globabrain.jpg' %}" alt="lazy loading..." height="60"
                    width="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'journal'  %}">journals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'features'  %}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'published_journals' %}">Published Journals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://youtube.com/@globabrainglobabrain6157"><i class="fab fa-youtube"></i>
                        YouTube</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Toggle the collapse navbar on mobile
        $('.navbar-toggler').click(function () {
            $('.navbar-collapse').toggleClass('show');
        });
    });
</script>