{% extends 'base.html' %}
{% block content %}
<section id="about">
    <div class="wrapper welcome">
        <h1>Welcome to GlobaBrain</h1>
        <p>
            GlobaBrain is where you publish your research findings and rewarded. <br>
            We hope that you will consider being a member of GlobaBrain and publishing your research work with our
            highly respected journals - the place to publish your research findings, get protection, and be
            rewarded.
            We hope that you will consider being a member of GlobaBrain and publishing your research work with our
            highly respected
            journals-the place to publish your research findings, get protection, and be rewarded.
            Our knowledgeable editors and referees mean that you can be sure that your work will be reviewed by people
            who really do
            understand your area of expertise. Once your manuscript is reviewed and accepted, our in-house production
            will ensure
            that your paper is published rapidly and that your work is presented accurately.
            Some of the benefits of being a member of this society include, but not limited to <br>
            <br>
            1. Getting your product in front of the decision makers <br>
            2. Getting international recognition for your research and innovation <br>
            3. Looking for a job <br>
            4. Your company looking to hire the best candidates <br>
            5. Connect with other professionals in your field of interest,
            by attending our annual conferences. <br>
        </p>
    </div>
</section>

<section id="aims">
    <div class="wrapper">
        <h2>Aims and Objectives</h2>
        <p>
            (A) We encourage , promote and conduct collaborative research in partnership with universities, colleges and
            polytechnics all over the world.
            We support research by providing platforms on which intellectual discussions can be made
            The society is working on establishing a center for innovation and excellence. To this effect, properties
            have been
            acquired to build laboratories. The goal is for students to be able to run experiments for research purposes
            at
            extremely low costs. This will facilitate the development of Science and Technology for intelligent but
            needy students.
            Experts in specific fields shall be invited to teach/give teleconferences in these areas. For example, the
            use of
            open-path Fourier Transform Infrared Spectrometry to detect chemical warfare agents involves combined
            knowledge in
            vibrational spectroscopy and chemometrics. Specialized areas like these that will be great for our law
            enforcement
            agencies including the military, police service, fire service, etc will involve inviting experts from around
            the world
            to deliver lectures. <br> <br>


            (B) Academic and Business Conferences
            Conferences are organized yearly . These will be formal events where researchers present results, showcase
            workshops,
            and other activities and also businesses discussing technical and/or business-related matters. This provides
            an
            excellent platform for the reflection of academic research to industrial success. This exposition gives you
            the
            opportunity to get a hands-on look at the latest instrumentation, participate in live demonstrations and
            product
            seminars, talk with technical experts, and find solutions to all your research challenges.
            Abstracts are submitted five months to the event. Research work is presented as poster and oral
            presentations. <br> <br>


            (C) Awards: Outstanding researchers and industries, including students are recognized with awards. Awards
            are also given
            to minister of states, heads of states, academic institutions, and individuals for excellent policies
            towards scientific
            innovations and development and enhancement/betterment of the lives of citizenry. <br> <br>


            (D) The society networks institutions with limited funds to big sources of information internationally to
            enhance
            research and development <br> <br>

            (E) Our Journals and Editorial Board endeavor to attract and publish articles, research thesis and
            dissertations from a
            variety of disciplines and educational settings with the goal of promoting excellence. We publish news on
            business,
            scientific and technological innovations. Individuals, governments, non-governmental organizations, and
            industries are
            encouraged to publish and/or advertise outcomes and successes. Authors will be contacted to submit their
            payments and to
            complete copyright forms to have their manuscripts published. We will contact you to retract your paper if
            we notice
            that the work has been published in another journal at an earlier date <br> <br>

            (F) We support by providing patent lawyers for filing invention records. This protects your property right
            as lots of
            innovation from the developing world are often not properly protected, leading to loss to the developed
            world. <br> <br>

            (G) We provide a platform for advertising jobs. This gives the employers the best opportunity to hire the
            best employees
            and allows employees to decide on who to work for. We have experts who can provide technical advice on
            resume writing. <br> <br>

        </p>
    </div>
</section>
<style>
            .welcome h1 {
                text-align: center;
                margin-top: 5px;
                font-size: 40px;
                margin-bottom: 30px;
                position: relative;
                animation: move-up 2s ease-in-out infinite alternate;
            }

            @keyframes move-up {
                0% {
                left: 0;
                }
                50% {
                left: 200px;
                }
                100% {
                left: 0;
                }
                }
                
            @keyframes move-up {
                from {
                transform: translateY(0);
                }
                to {
                transform: translateY(-10px);
                }
                }
            
</style>
{% endblock content %}

