{% extends 'base.html' %}
{% block content %}
<section id="journals">
    <div class="wrapper">
        <h1 id="journal-heading">Journals</h1>

          <h3> 1. American Journal of Applied and Industrial Science and Engineering </h3>  <br> 
        <p>
            American Journal of Applied and Industrial Science and Engineering is an open access, peer reviewed
            international <br>
            monthly journal dedicated to Research in the latest advancement in applied science and engineering. You can
            also submit <br>
            abstracts, patents, dissertations/thesis, and textbooks. <br>
            Our journal publish a special issue every year. This issue typically deals with important research topics
            and is edited <br>
            by a recognized experts with outstanding track records in the respective fields. <br>
            The Journal and Editorial Board endeavor to attract and publish articles from a variety of disciplines and
            educational <br>
            settings with the goal of promoting excellence in the following disciplines: <br> <br>

            o Physics, Mechanical, Atomic and Nuclear Engineering <br>
            o Chemistry, Chemical, petroleum and petrochemical Engineering, Geology, Geodetic Engineering, and Energy
            <br>
            o Pure and Applied Mathematics, Statistics and General Engineering <br>
            o Biology, Biochemistry ,Molecular Biology and Biomedical Engineering <br>
            o Pharmacy and Pharmaceutical Research <br>
            o Medical and Medicinal Research <br>
            o Civil Engineering, Architecture, General constructions, and Building Technology <br>
            o Agriculture and veterinary Research <br>
            o Environmental Science, Health Care and Sanitation <br>
            The Journal is excited to revive your work by providing services whose sole purpose is to unify and empower
            the
            scientific and technological community. <br>
            Please see our Guide for Authors for information on article submission or send an email to <a href="mailto:admin@globabrain.com ">admin@globabrain.com</a> 
            with the specific discipline on the subject line. <br> <br> <br> <br>

        </p>

           <h3> 2. International Journal of Economics, Accounting and Business methods(IJEABM) </h3> <br>
        <p>
            IJEABM publishes research work with Academic, Corporate and Financial orientation. The Journal publishes
            high quality <br>
            research papers in all fields of economics, accounting, finance, and business methods and closely related
            fields. <br>
            The Journal encourages research work to be published in aspects of both theoretical and applied aspects of
            the <br>
            aforementioned disciplines with emphasis on topics in corporate finance, general business methods,
            accounting, <br>
            marketing, financial markets and institutions, and investments. Research in insurance, monetary theory and
            policy, <br>
            estate management, and sociology is publishable. You may submit abstracts, patents, dissertations/thesis,
            and textbooks. <br>
            Our journals publish a special issue every year. This issue typically deals with important research topics
            and is edited <br>
            by a recognized experts with outstanding track records in the respective fields. <br> <br>

            The Journal and Editorial Board endeavor to attract and publish articles, research thesis and dissertations
            from a <br>
            variety of disciplines and educational settings with the goal of promoting excellence in the following
            disciplines: <br> <br>

            o Economics <br>
            o Applied/Agric Economics <br>
            o Finance <br>
            o Accounting <br>
            o Management <br>
            o Transportation and Logistics <br>
            o Insurance <br>
            o General Business methods <br>
            o Social science <br>
            o History <br>
            o Education, Arts, Literature and Linguistics <br> <br>

            Please see our Guide for Authors for information on article submission or send an email <a href="mailto:admin@globabrain.com ">admin@globabrain.com</a> <br>
          with the specific discipline on the subject line. <br> <br> <br>
            <a href="{% url 'published_journals' %}" class=" btn btn-secondary"> check out the list of the published journals</a>

        </p>
    </div>
</section>

{% endblock content %}