{% extends 'base.html' %}
{% block content %}
<section id="published">
    <div class="wrapper">
        <h1>List of Published Journals</h1>
        {% if published_journals %}
        <ul>
            {% for journal in published_journals %}
            <li><a href="{% url 'view_journal' journal.pk %}">{{ journal.title }}</a> by: {{journal.author}}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No Journal Available for now</p>
        {% endif %}
    </div>
</section>

<style>
    #published h1{
        color: black;
    }
    #published{
        padding: 15px;
        color:gray;
    }
    .wrapper li{
        border-style: solid;
        border-radius: 8px;
        box-shadow: rgba(16, 15, 15, 0.768);
        box-sizing: border-box;
        width: 100%;
        height: auto;
        overflow: hidden;
        text-decoration: none;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .wrapper h1{
        text-align: center;
        /* color: #000; */
    }

    .wrapper li{
        list-style: none;
        padding: 5px;
        font-size: large;

    }
    .wrapper p{
        display: flex;
        text-align: center;
        justify-content:center ;
        margin-top: 50px;

    }
    .wrapper a{
        text-decoration:none !important;
        color: black;
    }

</style>
{% endblock content %}